<footer id="footer">
  <div class="footer-left">
    Copyright  &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright }} {{ else }} {{ print .Site.Title }} {{ end }}
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        {{ range .Site.Menus.footer }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        {{ range where .Site.Params.Social "name" "mastodon" }}
        <li><a rel="me" href="{{ .link }}">mastodon verification</a>
        {{ end }}
      </ul>
    </nav>
  </div>
</footer>
